{% load staticfiles %}

<! DOCTYPE html>
<html>
	<head>
		<title> MAH PAGE </title>
		<!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"></link> -->
		<link rel="stylesheet" href="{% static 'css/sitelayout.css' %}" />
		<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="{% static 'font-awesome-4.2.0/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'font-mfizz-1.2/font-mfizz.css' %}" />
	</head>

	<body>
		<div id="page-container">
			<header><a href="index.html">KATIE CANNING </a><div id="full-stop"></div></header>
			<nav>
			<ul>
				<li class="menu-element"><a href="index.html" class="current-link">HOME</a></li>
				<li class="menu-element"><a href="projects.html">PROJECTS</a></li>
				<li class="menu-element"><a href="cv.html">CV</a></li>
				<li class="menu-element"><a href="blog.html">BLOG</a></li>
				<li class="menu-element"><a href="contact.html">CONTACT</a></li>
			</ul>
			</nav>
		
			<div class="content">
            {% for post in posts %}
               	<div class="post">
                    <h1 class="post-heading"><a href="">{{ post.title }}</a></h1>
                    <div class="post-date">published: {{ post.published_date }}</div>
                    <p class="post-content">{{ post.text }}</p>
                </div>
            {% endfor %}
			</div>
		</div>
			<footer>
			<small>Katie Canning, 2014.</small>
			<div id="footer-message">
				<a href="mailto:katieleecanning@gmail.com"><i class="fa fa-at fa-2x"></i></a>
				<a href="https://github.com/DonofLizards"><i class="fa fa-github fa-2x"></i></a>
				<a href="http://ie.linkedin.com/pub/katie-canning/5a/49b/826/"><i class="fa fa-linkedin-square fa-2x"></i></a>
			</div>
		</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	</body>
</html>